html{
	box-sizing: border-box;
}

body{
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img{
	max-width: 100%;
}

.wrapper {
	position: relative;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.container{
	width: 980px;
	margin: auto;
}


@media (max-width: 1064px){
	
}
